<div class="container">
    <div class="row">
        <div class="card bg-dark">
            <h1>Empleado X</h1>
            <h2 class="text-white">Edad: </h2>
            <h3 class="text-white">Esta persona puede irse de fiesta!!</h3>
            <button class="btn btn-primary">Sumar</button>
            <button class="btn btn-primary">Restar</button>
            <h2>Hobbies</h2>
            <div>
                <ul>
                    <li class="text-white">Comer</li>
                    <li class="text-white">Salir a correr</li>
                    <li class="text-white">Escuchar music</li>
                </ul>
            </div>
        </div>
    </div>
</div>

